h1= t("Title")
h2= t("Subtitle")
p= t("This is an example of translations using dialect")
p= t("Click on the links below or change your browser language to spanish/english")

ul
  li
    a(href: '/es')= t("Switch to spanish")
  li
    a(href: '/en')= t("Switch to english")

a(href: 'http://localhost:3001')= t("Manage translations")
